@page "/creation"

<PageTitle>طراحی‌ها</PageTitle>

<div class="hero-section">
    <h1 class="title">طراحی‌های من</h1>
    <p class="bio">
        در اینجا می‌توانید پروژه‌های من را مشاهده کنید. من همواره در حال یادگیری و ساخت نرم‌افزارهای جدید هستم.
    </p>
</div>

<div class="projects-container">
    <div class="project-card">
        <div class="project-image">
            <img src="images/digi.jpg" alt="پروژه ۱" />
        </div>
        <h3 class="project-title">وب سایت فروشگاهی دیجی کالا</h3>
        <p class="project-description">
            شبیه ساز وب سایت دیجی کالا با ASP.MVCو EF CORE
        </p>
        <div class="project-links">
            <a href="#" class="project-link disabled">مشاهده دمو</a>
            <a href="#" class="project-link disabled">مشاهده کد</a>
        </div>
    </div>

    <div class="project-card">
        <div class="project-image">
            <img src="images/realestate.jpg" alt="پروژه ۲" />
        </div>
        <h3 class="project-title">سایت املاک </h3>
        <p class="project-description">
            طراحی و ساخت وب‌سایت  با استفاده از Blazor و ASP.NET Core
            و دو پنل مدیریت و کاربر
        </p>
        <div class="project-links">
            <a href="https://github.com/melikaDaa/RealEstate-CleanArchitecture" class="project-link">مشاهده دمو</a>
            <a href="#" class="project-link">مشاهده کد</a>
        </div>
    </div>

    <div class="project-card">
        <div class="project-image">
            <img src="images/doctor.png" alt="پروژه ۳" />
        </div>
        <h3 class="project-title">برنامه  نوبت دهی دکتر</h3>
        <p class="project-description">
            سایت نوبت دهی دکتر به زبان فارسی در ASP.NET CORE
        </p>
        <div class="project-links">
            <a href="https://github.com/melikaDaa/Persian-Appointment-App/tree/master" class="project-link">مشاهده دمو</a>
            <a href="https://github.com/melikaDaa/Persian-Appointment-App/tree/master" class="project-link">مشاهده کد</a>
        </div>
    </div>
</div>

@code {
    // Add any page-specific code here
} 