@page "/"

<PageTitle>خانه</PageTitle>

<div class="hero-section">
    <div class="greeting">
        سلام <span class="wave">👋</span>
    </div>
    <h3 class="title">ملیکا اینجاست،من یک توسعه دهنده بک اند(دات نت)هستم.</h3>
    <p class="bio">
        نام من  ملیکا داداشی  است، یک دانش‌جو در حال یادگیری و دارای اشتیاق قوی برای تبدیل شدن به یک توسعه دهنده بک اند است.
    </p>
    <div class="action-buttons">
        <a href="https://github.com/melikaDaa" class="btn">
            <img src="images/github.svg" alt="گیت‌هاب" />
            مشاهده مسیر من
        </a>
        <a href="/cv" class="btn">
            <img src="images/document.svg" alt="رزومه" />
            دانلود رزومه من
        </a>
    </div>
</div>

@code {
    // Add any page-specific code here if needed
}
